.stationContainer {
width: 80%;
height: fit-content;
margin: auto;
padding: 10px;
background-color: burlywood;
border-radius: 10px;
}

.station {
    width: 250px;
    height: 150px;
    background-color: darksalmon;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.stationIcon {
    width: 100px;
    height: 100px;
}