body {
    background-color: burlywood;
}

.headers {
    text-align: center;
}

.App {
    justify-content: center;
    align-items: center;
}

.sticky {
    /*
    position: fixed;
    bottom: 20px;
    width: 80%;
    padding: 20px;
    background-color: darkgrey;
    */

    position: fixed;
    bottom: 20px;
    right: 30%;
    width: 600px;
    border: 3px solid grey;
    border-radius: 10px;
    background-color: darkgrey;
  }

.sticky .player {
    border-radius: 10px;
    width: 300px;
    margin: 10px auto 10px auto;
}